@import "tailwindcss";

* {
  letter-spacing: var(--tracking-tight);
  font-family: var(--font-main, sans-serif);
}

::selection {
  background-color: white; /* Changes the background of the selected text */
  color: black; /* Changes the color of the selected text */
}

@layer utilities {
  .image-pixelated {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: crisp-edges; /* Safari */
  }
}

@utility underline {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
  -- &:hover {
    text-decoration-line: underline;
  }
}

a:hover {
  color: white;
  font-weight: 700;
}
