---
import { Image } from "astro:assets";
import { siteConfig } from "../config/site";
---

<header role="banner" class="mb-8">
  <nav aria-label="Primary navigation">
    <a href="/" class="underline" title="Return to homepage">
      <Image
        src={siteConfig.logo}
        alt={`${siteConfig.name} logo`}
        width={60}
        height={60}
        class="inline-block align-middle"
      />
    </a>
  </nav>
</header>
